
<h1 class="h1" id="h1_book_list">Votre collection personnelle <button (click)="toAddBookPage()">Ajouter un livre</button></h1>
<div id="books_list-container">
  <div *ngFor="let book of userBooks" class="book_card">
    <img src="../assets/images/books_2.jpg" class="book_img" alt="..." />
    <div class="">
      <h5 class="title_book">
        {{ book.title }}
      </h5>
      <p class="resume_book">
        {{ book.resume }}
      </p>
      <div class="detail_block_btn">
          <a routerLink="#" class="btn btn-success" data-toggle="modal" data-target="#test">Plus de détails</a>
          <a routerLin="#" class="btn btn-primary">Modifier</a>
          <a routerLin="#" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
  </div>
</div>
